html,
body {
  height: 100%;
}

body {
  background-color: #e5e5e5;
  width: 1280px;
  height: 120px;
}
.container {
  width: 1280px;
  height: 120px;
}
.nav-items {
  position: absolute;
  left: 7.03%;
  right: 59.06%;
  top: 50%;
  bottom: 37%;
  font-family: FreightSansProMedium-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  list-style-type: none;
  display: inline-flex;
  height: 15.599998474121094px;
  width: 434px;
  left: 90px;
  top: 60px;
  border-radius: nullpx;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #3c271d;
}
.nav-items a {
  text-decoration: none;
}
.nav-items2 a {
  text-decoration: none;
}
.nav-items2 {
  position: absolute;
  left: 60.16%;
  right: 7.03%;
  top: 50%;
  bottom: 37%;
  font-family: FreightSansProMedium-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  list-style-type: none;
  display: inline-flex;
  height: 15.599998474121094px;
  width: 420px;
  left: 770px;
  top: 60px;
  border-radius: nullpx;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #3c271d;
}
h1 {
  font-family: FreightDispProLight-Italic;
  font-style: italic;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1px;
  font-family: FreightDispProLight-Italic;
  font-style: italic;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1px;
  color: #3c271d;
}

footer {
  position: relative;
  width: 1280px;
  height: 806px;
  background-color: #fffcf9;
}

h3 {
  height: 17px;
  width: 268px;
  left: 506px;
  top: 80px;
  border-radius: nullpx;

  color: #161614;

  font-family: FreightBigProMedium-Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  position: relative;
  margin: auto;
}
.box1 {
  position: absolute;
  left: 7.03%;
  right: 79.69%;
  top: 18.24%;
  bottom: 60.67%;
}
.box2 {
  position: absolute;
  left: 21.56%;
  right: 65.16%;
  top: 18.36%;
  bottom: 60.55%;
}
.box3 {
  position: absolute;
  left: 36.09%;
  right: 50.62%;
  top: 18.24%;
  bottom: 60.67%;
}
.box4 {
  position: absolute;
  left: 50.62%;
  right: 36.09%;
  top: 18.36%;
  bottom: 60.55%;
}
.box5 {
  position: absolute;
  left: 65.16%;
  right: 21.56%;
  top: 18.24%;
  bottom: 60.67%;
}
.box6 {
  position: absolute;
  left: 79.69%;
  right: 7.03%;
  top: 18.24%;
  bottom: 60.67%;
}
.slider {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 49.26%;
  bottom: 11.66%;
  height: 315px;
  width: 1280px;
  left: 0px;
  top: 397px;
  border-radius: 0px;
  background: #f8f4f0;
  text-align: center;
}
.slider h5 {
  font-family: FreightDispProLight-Italic;
  font-style: italic;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1px;
  color: #3c271d;
  height: 53px;
  width: 136px;
  left: 155px;
  top: 473px;
  border-radius: nullpx;
  margin-left: 150px;
}

.slider p {
  height: 35px;
  width: 144px;
  left: 151px;
  top: 540px;
  border-radius: nullpx;
  margin-left: 150px;
  font-family: FreightSansProBook-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #161614;
}
.social-icons {
  position: absolute;
  left: 13.28%;
  right: 78.51%;
  top: 75.68%;
  bottom: 22.59%;
  margin-top: 30px;
  justify-content: space-around;
}
.footer-first {
  height: 130px;
  width: 79px;
  left: 601px;
  top: 490px;
  list-style-type: none;
  position: absolute;
  left: 46.95%;
  right: 46.88%;
  top: 60.79%;
  bottom: 23.08%;
  font-family: FreightSansProMedium-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
}
.footer-second {
  height: 183px;
  width: 83px;
  left: 985px;
  top: 463px;
  list-style-type: none;
  position: absolute;
  left: 76.95%;
  right: 16.56%;
  top: 57.44%;
  bottom: 19.85%;
  position: absolute;
  left: 76.95%;
  right: 16.56%;
  top: 57.44%;
  bottom: 19.85%;
  font-family: FreightSansProMedium-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
}
.copyright {
  position: absolute;
  left: 0.08%;
  right: -0.08%;
  top: 88.34%;
  bottom: 0%;
  text-align: center;
  font-family: FreightSansProMedium-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 120%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin-top: 35px;
}
.footer-first a {
  text-decoration: none;
}
.footer-second a {
  text-decoration: none;
}
.line1 {
  position: absolute;
  left: 34.84%;
  right: 51.72%;
  top: 58.81%;
  bottom: 41.19%;
  border: 1px solid #3c271d;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-around;
  min-width: 105px;
}
.line2 {
  position: absolute;
  left: 65.08%;
  right: 21.48%;
  top: 58.81%;
  bottom: 41.19%;
  border: 1px solid #3c271d;
  transform: rotate(90deg);
}
